.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding: 0 40px;
	border-radius: 4px;
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.3s ease 0s;
	&:hover {
		border-radius: 7px;
		transition: all 0.3s ease 0s;
	}
}

.add {
	color: #fff;
	background: #2681ac;
	&:hover {
		background: #1d6688;
	}
}
.deleteAll {
	color: #fff;
	background: #c04646;
	&:hover {
		background: #9e3737;
	}
}
.highlightAll {
	color: #fff;
	background: #297759;
	&:hover {
		background: #21634a;
	}
}
